body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loader {
    width: 100px;
    height: 100px;
    border: 8px solid blue;
    border-radius: 50%;
    border-left-color: red;
    animation: load 1.3s linear infinite;
}

@keyframes load {
    100% {
        transform: rotate(360deg);
    }
}
